$c-blue: #2F3890;
$c-blue-light: #004FAC;
$c-blue-ultralight: #57A4FF;
$c-black: #231F20;
$c-gray: #414042;
$c-midgray: #5E6278;
$c-lightgray: #7A7D8D;
$c-red: #ED1C24;
$c-yellow: #FFF200;

//boje apartmana
$silver: #C6C6C6;
$yellow: #F7A102;
$pink: #D20163;
$gold: #F7B900;
$green:#032707;
$grey: #83848D;
$olive-green: #7C7C00;
$orange: #F66205;
$brown: #935020;
$burgundy: #6C1101;

$header-height: 6rem;