.btn {
    border: 0;
    padding: 1.5rem 2rem;
    outline: 0;
    cursor: pointer;
    transition: all .2s ease-out;

    &:not(.btn-default) {
        min-width: 16rem;
    }

    &-primary {
        background-color: $c-blue;
        color: white;

        &:hover {
            background-color: $c-blue-ultralight;
        }
    }

    &-secondary {
        background-color: #DCDCDC;
        color: $c-gray;

        &:hover {
            background-color: #5E6278;
        }
    }
}

.btn-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.reservation-block {
    .btn-center {
        margin-bottom: 3rem;
    }

    .sup-heading {
        margin-bottom: 3rem;
    }

    .section-text {
        max-width: 85rem;
    }
}