.btn {
    border: 0;
    padding: 1.5rem 2rem;
    outline: 0;
    cursor: pointer;
    transition: all .2s ease-out;

    &:not(.btn-default) {
        min-width: 16rem;
    }

    &-primary {
        background-color: $c-blue;
        color: white;

        &:hover {
            background-color: $c-blue-ultralight;
        }
    }

    &-secondary {
        background-color: #DCDCDC;
        color: $c-gray;

        &:hover {
            background-color: #5E6278;
        }
    }
}