input, textarea {
    border: 2px solid $c-gray;
    outline: 0;
    padding: 12px 15px;
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
    border: 2px solid $c-blue-ultralight;
    -webkit-text-fill-color: $c-black;
    -webkit-box-shadow: 0 0 0px 200px white inset;
    transition: background-color 5000s ease-in-out 0s;
    }

    &.disabled {
        opacity: .65;
        pointer-events: none;
    }

    &:focus {
        border-color: $c-blue-ultralight;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    transition: all .3s linear;
    position: relative;

    &-icon {
        input {
            padding-left: 4.5rem;
        }

        i {
            position: absolute;
            font-size: 2rem;
            bottom: 1.3rem;
            left: 1.7rem;
            pointer-events: none;
            color: #5E6278;
        }
    }

    &-split {
        display: flex;
        gap: 2rem;

        .input-wrapper {
            width: 100%;
        }

        @media(max-width: 650px) {
            flex-direction: column;
        }
    }

    label {
        margin-bottom: .8rem;
        transition: all .3s linear;
    }

    &:focus-within {

    }

    &.hidden-field {
        display: none;
    }
}

.form-field-actions {
    display: flex;
    justify-content: space-between;
}

.form-field {
    margin-bottom: 2.5rem;

    label {
        font-size: 2rem;
        color: $c-gray;
        margin-bottom: 0.5rem;
        display: block;
    }
}

.form-field-container {
    .input-wrapper {
        margin-bottom: 2.5rem;

        label {
            font-size: 2rem;
            color: $c-gray;
            margin-bottom: 0.5rem;
            display: block;
        }
    }
}

.modal-heading-msg {
    font-size: 2rem;
    text-align: center;
    display: block;
    font-family: 'Chivo', sans-serif;
    color: $c-gray;
    margin-bottom: 4.6rem;
    font-weight: 300;
}

.form-tip, .italic-text {
    font-size: 1.6rem;
    text-align: center;
    display: block;
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
    color: $c-gray;
}

.italic-text {
    max-width: 99.6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;

    @media(max-width: 991px) {
        font-size: 1.6rem;
    }
}